[submodule "mixnet-htsim"]
	path = mixnet-htsim
	url = git@github.com:Gabriel-Yoon/mixnet-htsim.git
[submodule "mixnet-flexflow"]
	path = mixnet-flexflow
	url = git@github.com:Gabriel-Yoon/mixnet-flexflow.git
